recursive-include django_cloud_deploy *.py *.json *.yaml *.txt
recursive-include django_cloud_deploy  *.py-tpl *.html-tpl *.css-tpl Dockerfile .dockerignore
recursive-include django_cloud_deploy  .gcloudignore
