[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
oauth2client = "*"
certifi = "*"
django = "*"
absl-py = "*"
jinja2 = "*"
kubernetes = "*"
backoff = "*"
google-cloud-container = "*"
google-api-python-client = "*"
google-cloud-storage = "*"
pexpect = "*"
docker = "*"
"psycopg2-binary" = "*"
google-cloud-resource-manager = "*"
django-cloud-deploy = {editable = true, path = "."}

[dev-packages]
pytest = "==3.6.3"
responses = "*"

[requires]
python_version = "3.5"
